#jform_predefined_values {
    float: left;
}

#jform_predefined_values table {
    margin-top: 5px;
}

#jform_predefined_values .drag-icon {
    width: 10px;
    height: 25px;
    background: url(images/drag-icon.png) no-repeat left center;
    float: left;
}

#jform_predefined_values .add-option {
    margin-right: 5px;
}