.jubootstrap.component .nav.nav-tabs {
	margin: 10px 0;
}
.bottom_hide{ position:absolute; bottom:-20px; height:40px; background: hsl(53, 47%, 96%); width:100%;}
.jubootstrap.component .input-append input {
	float: left;
}

ul.tagit li.tagit-new input {
	border: medium none;
	box-shadow: none;
	box-sizing: border-box;
	display: block;
	float: left !important;
	height: 25px;
	padding: 0 6px;
	width: 70px !important;
}

ul.tagit{
	border-radius: 4px;
}
h2.cat-tittle span{ float:left;}
p.p_cat{ padding-top:5px; margin:0px !important;}