.view-modpendingcomments .judir-frontend-toolbar {
	margin : 10px 0;
}

.view-modpendingcomments table {
	clear      : both;
	margin-top : 10px;
}

.view-modpendingcomments .center {
	text-align : center;
}

.view-modpendingcomments .judir-pagination #limit {
	width: auto !important;
}