.judir-cat-info .cat-image {
	float: left;
	margin: 0 15px 15px 0;
	overflow: hidden;
}

.judir-cat-info .cat-title {
	margin-top: 0;
	margin-bottom: 10px;
}

.judir-relcat .relcat-item {
	overflow : hidden;
}

.judir-relcat .relcat-item .cat-image {
	float: left;
	margin: 0 15px 15px 0;
	overflow: hidden;
}

.judir-relcat .cat-title {
	font-size: 125%;
	margin-top: 0 !important;
	margin-bottom: 10px;
}

.judir-relcat .cat-title small {
	font-size: 75%;
}

.judir-subcat .subcat-item {
	overflow : hidden;
}

.judir-subcat .subcat-item .cat-image {
	float: left;
	margin: 0 15px 15px 0;
	overflow: hidden;
}

.judir-subcat .cat-title {
	font-size: 125%;
	margin-top: 0 !important;
	margin-bottom: 10px;
}

.judir-subcat .cat-title small {
	font-size: 75%;
}

/*
 *	Category list view
 */
.judir-form-listings .sort-pagination select {
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-left: 5px;
    width: auto;
}

.judir-listing-list-table table {
	margin-top: 10px;
	clear   : both;
}

.judir-listing-list-table table .listing-title {
	font-size: 125% !important;
	line-height: 1.2 !important;
	margin: 5px 0 0 !important;
	text-align: left !important;
}

.judir-listing-list-table table td.title .title-wrapper {
    position: relative;
}

.judir-listing-list-table table .judir-listing .private-actions {
    opacity: 0;
    transition:all 0.2s ease 0.1s;
    -webkit-transition:all 0.2s ease 0.1s;
    -moz-transition:all 0.2s ease 0.1s;
    -o-transition:all 0.2s ease 0.1s;
    position: absolute;
    right: 0;
    top: 0;
}

.judir-listing-list-table table .judir-listing:hover .private-actions, .judir-listing .private-actions.open {
    opacity: 1;
}