

.judir-pending-listing .judir-frontend-toolbar {
	margin : 10px 0;
}

.judir-pending-listing table {
	clear      : both;
	margin-top : 10px;
}

.judir-pending-listing .center {
	text-align : center !important;
}

.judir-pending-listing .judir-pagination #limit {
	width: auto;
}