.judir-container {
    overflow: hidden;margin-top: 0px; 
}
.judir-subcat h2.subcat-title{color: #2a4c75; font-size: 20px;}
.jubootstrap.component.judir-container.view-category  {background:#fffef9; border:1px solid #deddd4; padding:20px;}
.jubootstrap.component.judir-container.view-listing.layout-default{background:#fffef9; border:1px solid #deddd4; padding:20px;}  

.judir-subcat .subcat-row .subcat-item{ background:#fff; border:1px solid #deddd4;   margin-left: 15px;    padding-left: 10px;    padding-right: 0;width: 31.333%;    padding-top: 20px; margin-bottom:20px}
.cat-image > img{ height:100px !important; width:100px !important; border: 1px solid #deddd4;padding: 2px;}

.judir-listing.new.col-md-12{background:#fff; border:1px solid #deddd4; /*padding-top:10px*/ }
.judir-listing-row.row{ margin:0px;}
.blue_text.cat-tittle img{float:left; margin-right: 10px;}

.judir-display {
    float: left;
}

.sort-pagination {
    margin-top: 20px;
}

.judir-sort {
    float: left;
}

span.required {
    color: red;
}

.jubootstrap ul {
    list-style: none !important;
}

/* Fix bootstrap */
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* Pagination */
.judir-pagination {
    text-align: center;
    margin-top: 20px;
}

.sort-pagination .pagination-wrap {
    float: left;
}

.sort-pagination .pagination-wrap .limitbox .display-number {
    display: none;
}

.pagination-wrap .limitbox .display-number {
    display: inline;
    padding: 7px 5px;
}

.pagination-wrap ul li .pagenav {
    clear: none !important;
    font-weight: bold;
}

.pagination ul li {
    display: inline-block !important;
    padding: 0px !important;
    margin: 0px !important;
}

.pagination .pagination-start span {
    padding: 4px 12px !important;
}

/* Rating */
.rating-item {
    clear: both;
    display: block;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
}

.rating-item .rating-title {
    margin-right: 10px;
    float: left;
    width: 100px;
}

.rating-item .rating-title .required {
    color: red;
    margin-left: 5px;
}

.rating-item .rating-criteria {
    float: left;
}

.judir-rating fieldset {
    float: left;
    margin: 0;
}

.star-rating-control {
    float: left;
    min-width: 100px;
}

.star-rating-control > div {
    display: inline-block;
}

.star-rating-title {
    float: left;
    margin-right: 5px;
    width: 50px;
}

.star-rating-value {
    float: left;
    margin-left: 5px;
}

.judir-rating {
    float: left;
}

.judir-rating .star-rating, .judir-rating .rating-cancel {
    color: #BBBBBB;
    display: inline-block;
    float: left;
    position: relative;
    line-height: 1;
    text-align: center;
}

.judir-rating .star-rating > span, .judir-rating .rating-cancel > span {
    height: 100%;
    left: 0;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.judir-rating .star-rating-on > span {
    color: #D50000;
    text-indent: 6%;
}

.star-rating-full {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    width: 150px;
    height: 16px;
    overflow: hidden;
    background: #BBBBBB;
}

.star-rating-percent {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #D50000;
}

/* label */
.listing-title .label {
    font-size: 11px;
    padding: 2px 4px;
    vertical-align: super;
    border-radius: 0.25em;
    color: #ffffff;
    display: inline;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
}

.label.label-new {
    background-color: #e10000
}

.label.label-updated {
    background-color: #5bc0de;
}

.label.label-hot {
    background-color: #d9534f;
}

.label.label-featured {
    background-color: #428bca;
}

.label.label-pending {
    background-color: #f0ad4e;
}

.label.label-expired {
    background-color: #777;
}

.label.label-unpublished {
    background-color: #88443c;
}

/* override form view */
.judir-form .accordion-heading a {
    color: #005580 !important;
    background: none !important;
}

.judir-form a:hover {
    color: #005580 !important;
    /* background : none !important; */
}

.judir-form dl.tabs {
    margin-top: 20px;
}

.judir-form dt h3 {
    font-size: 13px;
    line-height: 18px;
}

.judir-form table.mceLayout {
    width: 100% !important;
}

.judir-form .editor-xtd-buttons {
    display: inline-block;
}

.judir-form .modal {
    position: static !important;
    width: auto !important;
}

.judir-form .toggle-editor {
    display: inline-block;
}

.judir-form #editor-xtd-buttons {
    display: inline-block;
}

/*Override form - recheck*/
.panel {
    margin-bottom: 4px !important;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel h3 {
    background: none !important;
    color: #08c;
    font-size: 13px;
    line-height: 18px;
    border-bottom: none;
}

.panel h3.pane-toggler-down {
    padding-bottom: 20px;
}

.panel h3.pane-toggler > a:nth-child(1), .panel h3.pane-toggler-down > a:nth-child(1) {
    background: none !important;
    display: block !important;
    padding: 8px 15px !important;
}

.panel h3 a {
    background: none !important;
    display: block !important;
    padding: 8px 15px !important;
}

.current {
}

.current dd {
    float: none !important;
}

.current dt {
    clear: none !important;
}

.current {
    background: none !important;
}

.pane-slider {
    background: none !important;
}

.judir-approval-container {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.judir-approval-inner {
    display: inline-block;
}

.judir-approval-options {
    border: 1px dashed #CCCCCC;
    float: left;
    margin: 10px 0 20px;
    padding: 5px;
}

.judir-approval-options > div {
    margin: 0 5px !important;
}

.judir-previous, .judir-next {
    float: left;
    margin: 16px 10px 0;
}

/*Malicious*/
.judir-container img.captcha-image {
    border: 1px solid #e5e5e5;
    margin-bottom: 5px;
    padding: 3px;
}

.judir-view-list > .row-fluid > [class*="span"] {
    margin-left: 0 !important;
}

.judl-container ul.value-list li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #ddd;
    padding: 0 5px 5px;
}

.judl-container ul.value-list li:last-child {
    border: none;
}

.judl-container .value ul.file-list li {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #ddd;
    padding: 0 5px 5px;
}

.judl-container .value ul.file-list li:last-child {
    border: none;
}

.judl-container .value ul.image-list li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ddd;
    float: left;
    margin: 5px 5px 0 0;
    padding: 3px;
}

/*Fix fancybox*/
html.fancybox-lock {
    overflow: unset !important;
}
.categories-col.col-md-4 {
    margin-bottom: 20px;
}
.panel.panel-default{  border-radius: 0; background:hsl(50, 100%, 99%); border-color#deddd4; min-height:250px;}
.panel-heading.category-title{background:none !important;}

h2.cat-tittle{font-size:22px; margin-bottom:0px;margin-top: 0px;color:hsl(219, 63%, 40%); font-weight:bold}
h3.cat-title{font-size:26px; margin-bottom:20px;margin-top: 20px;color:hsl(219, 63%, 40%); font-weight:bold}
.list-group-item a{ color: hsl(0, 0%, 20%) !important; padding-left:10px;}


/*.jubootstrap.component.judir-container.view-category  .judir-subcat.clearfix {display:none;} */