html body {
    margin: 0;
    padding: 0;
}

.list-image {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.list-image li {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin: 3px;
    padding: 2px;
}

.list-image img {
	max-width: 60px;
	max-height: 60px;
}

.marker .list-image img {
	max-width: 40px;
	max-height: 40px;
}

.folders {
	margin-bottom: 20px;
}