.star-rating {
	margin     : 0;
	padding    : 0;
	float      : left;
	position   : relative;

	height     : 16px;
	overflow   : hidden;
	background : url(../../images/star_white.gif);
}

.star-rated {
	margin     : 0;
	padding    : 0;
	position   : absolute;
	top        : 0;
	left       : 0;
	height     : 16px;
	background : url(../../images/star_red.gif);
}