.icon-48-fbs {
      background-image: url(../images/l_fbs.png);
      padding-left:60px!important;
}

.icon-48-fb {
      background-image: url(../images/l_fbs.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}