<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_judirectory/models/fields/">
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="JUDIRRules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox"
               filter="rules" component="com_judirectory" section="component"/>
    </fieldset>

    <fieldset name="category_permissions" label="COM_JUDIRECTORY_PERMISSION_CATEGORY_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_CATEGORY_DESC">
        <field name="category_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_category"/>
    </fieldset>

    <fieldset name="listing_permissions" label="COM_JUDIRECTORY_PERMISSION_LISTING_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_LISTING_DESC">
        <field name="listing_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_listing"/>
    </fieldset>
    <fieldset name="comment_permissions" label="COM_JUDIRECTORY_PERMISSION_COMMENT_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_COMMENT_DESC">
        <field name="comment_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_comment"/>
    </fieldset>
    <fieldset name="single_rating_permissions" label="COM_JUDIRECTORY_PERMISSION_SINGLE_RATING_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_SINGLE_RATING_DESC">
        <field name="single_rating_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_single_rating"/>
    </fieldset>
    <fieldset name="criteria_permissions" label="COM_JUDIRECTORY_PERMISSION_CRITERIA_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_CRITERIA_DESC">
        <field name="criteria_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_criteria"/>
    </fieldset>
    <fieldset name="moderator_permissions" label="COM_JUDIRECTORY_PERMISSION_MODERATOR_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_MODERATOR_DESC">
        <field name="moderator_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_moderator"/>
    </fieldset>
    <fieldset name="field_value_permissions" label="COM_JUDIRECTORY_PERMISSION_FIELD_VALUE_LABEL"
              description="COM_JUDIRECTORY_PERMISSION_FIELD_VALUE_DESC">
        <field name="field_value_rules" type="JUDIRRules" label="" class="inputbox"
               validate="rules" filter="rules" component="com_judirectory" section="component_field_value"/>
    </fieldset>
</config>